.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.flex {
  display: flex;
  flex-wrap: wrap;
 
}
.cl{
  
}
.bikes{
  background-color: orange;
}

.shopping-card {
  justify-content: space-between;
   padding: 20px 30px;
}

.product-item {
  padding: 20px;
  background-color: rgb(186, 194, 78);
}
.head{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
}
.for{
  padding: 20px;
}
.cart{
  text-align: center;
  background-image: linear-gradient(to right, #ff6699 0%, #ff99cc -3%);
}
.cat{
  text-align: center;
  background-image: linear-gradient(to right, #ff6699 0%, #ff99cc -3%);
}
.cartbox {
  background-color: pink;
border-radius: 10px;
font-size: 15px;
font-weight: 500;
padding: 20PX 40PX;
}
.carttotal {
  background-image: linear-gradient(to right, #ff6699 0%, #ff99cc -3%);
}